@import "lib/colors";
@import "lib/mixins";


#chapter {
	background-color: #f4f7f8;
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: center;
	padding: 5%;
}

.infobox {
	background: white;
	width: 40%;
	flex-grow: 1;
	padding: 15px;
	padding-top: 25px;
	height: 100%;
}

.portrait {
	width: 40%;
	flex-grow: 1;
	text-align: center;
	height: 100%;
}

#verticalPlayer{
	width: 55px;
	flex-grow: 1;
}

#movableObj {
	position: fixed;
	background: white;
	right: 20px;
	width: 150px;
	padding: 10px;
	top: 20px;
	transition-property: box-shadow,background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    color: $link-color;
	&:hover {
		@include card-shadow;
		background: darken($primary,10%);
	}
}
