@import "lib/colors";
@import "lib/mixins";
@import "lib/animate";

.animated { visibility: visible !important; }

main {
	background-color: #f4f7f8;
}

#chapter {
	max-width: 750px;
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: center;
	padding: 5%;
}

.title {
	width: 40%;
	flex-grow: 1;
	text-align: center;
	h2 {
		margin-top: 45%;
	}
}

.infobox {
	width: 40%;
	flex-grow: 1;
	height: 100%;

	article {
		background: white;
		padding: 15px;
		padding-top: 25px;
		margin-bottom: 5%;
		visibility: hidden;
	}
	.portrait {
		background: none;
		padding-left: 0px;
		margin-top: 10%;
		h2 {
			margin-top: 10px;
		}
		img {
			float: left;
			margin-right: 20px;
		}
	}
}

#verticalPlayer{
	width: 55px;
	flex-grow: 1;
}

#movableObj {
	position: fixed;
	background: white;
	display: none;
	right: 20px;
	width: 150px;
	padding: 10px;
	top: 20px;
	transition-property: box-shadow,background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    color: $link-color;
	&:hover {
		@include card-shadow;
		background: darken($primary,10%);
	}
}
